CONFIG_ENABLE_WIFI=y
# CONFIG_ENABLE_WIRED is not set
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_SPI=y
CONFIG_ENABLE_TIMER=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_HCI=y
CONFIG_ENABLE_RTC=y
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_ENABLE_DISPLAY=y
CONFIG_ENABLE_PM=y
CONFIG_ENABLE_WAKEUP=y
CONFIG_ENABLE_PINMUX=y
CONFIG_MODULE_CHOICE_T5_E1_IPEX=y
CONFIG_TUYA_SECURITY_LEVEL=1
CONFIG_ENABLE_BT_SERVICE=y
